* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

/* Стили для шапки сайта */
header {
    background-color: #edc7b7;  
    color: #ffffff;
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 70px; /* Ограничение высоты логотипа */
    margin-right: 10px;
}

.logo span {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
}

nav a {
    color: #ac3b61;
    padding: 10px 15px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ac3b61;
    color: white;
}

.btn {
    background-color: #ac3b61;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c87793;
}

/* Стили для hero с ции */

.hero {
    position: relative; 
    background: url(img/banner.jpg) no-repeat center center/cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: -1; 
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* О нас секция */
.about {
    background-color: #f8f9fa;
    padding: 50px 20px;
    text-align: center;
    color: #ac3b61;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.about img {
    max-width: 70%;
    border-radius: 10px;
}

/* Галерея работ */
.gallery {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
    color: #ac3b61;
}

.gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.gallery-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-grid img {
    max-width: 25%;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Отзывы клиентов */
.testimonials {
    background-color: #f1f1f1;
    padding: 50px 20px;
    text-align: center;
    color: #ac3b61;
}

.testimonials h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.testimonial {
    max-width: 600px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-style: italic;
    color: #c87793;

}

/* Карта местности */

.map-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.map-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ac3b61;
}

.map-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

/* Специальные предложения */
.services{
    color: #c87793;
    text-align: center;
    margin-top: 10px;
}

.services h1{
    color: #ac3b61;
    font-size: 2rem;
    padding: 5px;
}


.services p{
    color: #c87793;
    margin: 10px;
}


.special-offers {
    background-color: #ac3b61;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.special-offers h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.special-offers p {
    font-size: 1.2rem;
}

/* Контактная форма */
.contacts {
    padding: 50px 20px;
    background-color: #f8f9fa;
    text-align: center;
    color: #ac3b61;
}

.contacts h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contacts form {
    max-width: 600px;
    margin: 0 auto;
}

.contacts label {
    font-size: 1.2rem;
    display: block;
    margin: 10px 0 5px 0;
}

.contacts input,
.contacts textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.contacts input:focus {
    outline: #c87793;
    border-color:#c87793;


}


.contacts button {
    background-color: #ac3b61;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contacts button:hover {
    background-color: #c87793   ;
}

/* Социальные сети */
.social-media {
    margin-top: 30px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.2rem;
    color: #c87793;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ff4081;
}

/* Футер */
footer {
    background-color: #edc7b7;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.social-icons a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.2rem;
}

.social-icons a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    /* Мобильные устройства */
    .header-container {
        flex-direction: column; /* Переключение на вертикальную ориентацию */
        align-items: center;
    }

    .logo span{
        font-size: 1.5rem;
    }

    nav {
        font-size: 1rem;
        margin-top: 15px;
    }


    nav a {
        font-size: 1rem;
        margin: 5px 0;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .btn {
        padding: 8px 15px;
        font-size: 1rem;
    }

    .about img {
        max-width: 90%;
    }
    

    .gallery-grid img {
        max-width: 70%;
    }

    .about p, .testimonials p {
        font-size: 0.9rem;
    }

    .contacts form {
        width: 100%;
    }
}